<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>GitThrow</title>
  <link th:replace="user/fragment/user-page-content :: user-page-head" rel="stylesheet" type="text/css" />
</head>
<body class="skin-blue">
<div class="wrapper">

  <div th:replace="user/fragment/user-page-content :: user-page-topmenu" ></div>
  <div th:replace="user/fragment/user-page-content :: user-page-sidebar" ></div>


  <!-- content -->
  <div class="content-wrapper">

    <!-- コンテンツヘッダ -->
    <section class="content-header">
      <h1>ダッシュボード</h1>
    </section>

    <!-- メインコンテンツ -->
    <section class="content">

      <!-- コンテンツ1 -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">アクティビティ</h3>
        </div>
        <div class="box-body">
          <ul class="activity-list" id="activity">
            <li v-for="it in activities">
              <div class="icon">
                <img v-bind:src="toIconUrl(it)" alt="" class="img-circle">
              </div>
              <div class="content">
                <div class="header">
                  <a v-html="it.title" v-bind:href="toLink(it)"></a>
                  <div v-html="it.createdAt"></div>
                </div>
                <div v-html="marked(it.description)"></div>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </section>
  </div><!-- end content -->


  <div th:replace="user/fragment/user-page-content :: user-page-footer" ></div>


</div><!-- end wrapper -->
<div th:replace="user/fragment/user-page-content :: user-page-script" ></div>
<!-- marked.js -->
<script src="../../static/plugins/marked/marked.min.js" th:src="@{/plugins/marked/marked.min.js}"></script>
<script src="../../static/js/highlight.pack.js" th:src="@{/js/highlight.pack.js}"></script>
<script>
  var options = {
    sanitize:true,
    highlight: function(code, lang) {
      return hljs.highlightAuto(code, [lang]).value;
    }
  };

  var vm = new Vue({
    el: '#activity',
    data: {
      activities: []
    },
    methods: {
      marked: function (str) {
        return marked(str, options);
      },
      toIconUrl: function (it) {
        return '/user/icon/'+it.user.id;
      },
      toLink: function (it) {
        return '/project/' + it.projectId;
      }
    }
  });

  fetchUserActivities().then(function (req) {
    vm.activities = req.data;
  });
</script>
</body>
</html>