<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>GitThrow</title>
  <link th:replace="user/fragment/user-page-content :: user-page-head" rel="stylesheet" type="text/css" />
</head>
<body class="skin-blue">
<div class="wrapper">

  <div th:replace="user/fragment/user-page-content :: user-page-topmenu" ></div>
  <div th:replace="user/fragment/user-page-content :: user-page-sidebar" ></div>


  <!-- content -->
  <div class="content-wrapper">

    <!-- メインコンテンツ -->
    <section class="content">

      <div class="row">
        <div class="col-md-12">
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Activity graph</h3>
            </div>
            <div class="box-body">

            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Activity</h3>
            </div>
            <div class="box-body">
              <ul id="activity" style="padding: 10px">
                <li v-for="it in activities" style="list-style-type: none; background-color: #ecf0f5; margin-bottom: 10px; padding: 5px">
                  <div style="text-align: left; float: left;">
                    <div v-html="it.title" style="display: inline;"></div>
                  </div>
                  <div style="text-align: right">
                    <div v-html="it.createdAt" style="display: inline;"></div>
                  </div>
                  <div v-html="marked(it.description)"></div>
                </li>
              </ul>
            </div>
          </div>
        </div>


      </div>

    </section>
  </div><!-- end content -->


  <div th:replace="user/fragment/user-page-content :: user-page-footer" ></div>


</div><!-- end wrapper -->
<div th:replace="user/fragment/user-page-content :: user-page-script" ></div>
</body>
<script th:inline="javascript">
  var userId = [[${#authentication.principal.user.id}]];
  var options = {
    sanitize:true,
    highlight: function(code, lang) {
      return hljs.highlightAuto(code, [lang]).value;
    }
  };

  var vm = new Vue({
    el: '#activity',
    data: {
      activities: []
    },
    methods: {
      marked: function (str) {
        return marked(str, options);
      }
    }
  });

  fetchUserActivities(userId)
    .then(res => {
      var data = res.data;

      //最新10件のみ表示
      vm.activities = data.slice(0, 10);
    });
</script>
</html>
