<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>GitThrow</title>
  <link th:replace="user/project/fragment/project-page-content :: project-page-head" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="../../../static/css/github-markdown.css" th:href="@{/css/github-markdown.css}"/>
  <link rel="stylesheet" href="../../../static/css/highlight/default.css" th:href="@{/css/highlight/default.css}"/>

  <!-- Select2 -->
  <link rel="stylesheet" href="../../../static/plugins/select2/select2.min.css" th:href="@{/plugins/select2/select2.min.css}">
</head>
<body class="skin-blue">
<div id="bg"></div>

<div class="wrapper" id="wrapper">
  <div th:replace="user/project/fragment/project-page-content :: project-page-topmenu"></div>
  <div th:replace="user/project/fragment/project-page-content :: project-page-sidebar"></div>


  <!-- content -->
  <div class="content-wrapper">

    <!-- コンテンツヘッダ -->
    <section class="content-header">
      <h1>管理者設定</h1>
    </section>

    <!-- メインコンテンツ -->
    <section class="content">
      <!--メンバー設定-->
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">メンバー設定</h3>

          <div class="box-tools pull-right">
            <form th:action="|@{/project/}${projectId}/admin-settings/member/new|" method="post">
              <select class="form-control select2" title="users" id="users" name="newMemberId" style="width: 200px;">
              </select>
              <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i><span>追加</span></button>
            </form>
          </div>
        </div>
        <form th:action="|@{/project/}${projectId}/admin-settings/member/delete|" method="post" class="form-horizontal">
          <div class="box-body">

            <table class="table table-hover">
              <tr>
                <th></th>
                <th>ユーザー名</th>
                <th>ID</th>
                <th></th>
              </tr>
              <tr th:each="user : ${projectMember}">
                <!--/*@thymesVar id="user" type="net.orekyuu.gitthrow.user.domain.model.User"*/-->
                <td><img src="../../../static/img/user2-160x160.jpg" th:src="|@{/user/icon/}${user.id}|" alt="" class="img-circle" width="24"></td>
                <td th:text="${user.name}">おれきゅう</td>
                <td th:text="${user.id}">orekyuu</td>
                <!--管理者は削除できないようにする-->
                <td><!--/*@thymesVar id="project" type="net.orekyuu.gitthrow.project.domain.model.Project"*/-->
                <button type="submit" class="btn btn-danger" name="delete" th:value="${user.id}" th:unless="${project.owner.equals(user)}">削除</button></td>　
              </tr>
            </table>
          </div>
        </form>
      </div>

      <!--Bot設定-->
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Bot設定</h3>
        </div>
        <form th:action="|@{/project/}${projectId}/admin-settings/bot|" th:object="${botSettingsForm}" method="post" enctype="multipart/form-data">
          <div class="box-body">
            <!-- ユーザー名 -->
            <div class="form-group" th:class="${#fields.hasErrors('name')}?'has-error form-group':'form-group'">
              <label for="user-name" class="control-label">ユーザー名</label>
              <input type="text" th:field="*{name}" class="form-control" id="user-name" placeholder="UserName" size="16">
              <p class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">エラーメッセージ</p>
            </div>
            <!-- アバター -->
            <div class="form-group" th:class="${#fields.hasErrors('avatar')}?'has-error form-group':'form-group'">
              <label for="user-avatar" class="control-label">アバター</label> <br>
              <img src="../../static/img/user2-160x160.jpg" th:src="|@{/user/icon/}${botUserId}|" width="200px" height="200px" alt="" class="img-circle">
              <input type="file" class="form-control" id="user-avatar" th:field="*{avatar}">
              <p class="help-block" th:if="${#fields.hasErrors('avatar')}" th:errors="*{avatar}">エラーメッセージ</p>
            </div>
          </div>
          <div class="box-footer">
            <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-check"></i> OK</button>
          </div>
        </form>
      </div>

      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">プロジェクトテーマ</h3>
        </div>
        <form v-on:submit.prevent id="theme-form">
          <div class="box-body">
            <div class="form-group">
              <label for="theme-img">背景画像</label>
              <input type="file" id="theme-img" ref="file" @change="updateImage" name="image">
              <p class="help-block">error error</p>
            </div>
            <div class="form-group">
              <label for="opacity">透明度</label>
              <input type="number" class="form-control" min="0" max="1" step="0.01" name="opacity" id="opacity" v-model.number="opacity" @change="updateOpacity">
              <p class="help-block">error error</p>
            </div>
          </div>
          <div class="box-footer">
            <button type="submit" v-on:click="postFormData" class="btn btn-primary pull-right"><i class="fa fa-check"></i> 更新</button>
          </div>
        </form>
      </div>
    </section>
  </div><!-- end content -->


  <div th:replace="user/project/fragment/project-page-content :: project-page-footer"></div>


</div><!-- end wrapper -->
<div th:replace="user/project/fragment/project-page-content :: project-page-script"></div>
<!-- marked.js -->
<script src="../../../static/plugins/marked/marked.min.js" th:src="@{/plugins/marked/marked.min.js}"></script>
<script src="../../../static/js/highlight.pack.js" th:src="@{/js/highlight.pack.js}"></script>

<!-- Select2 -->
<script src="../../../static/plugins/select2/select2.full.min.js" th:src="@{/plugins/select2/select2.full.min.js}"></script>
<script th:inline="javascript">
  var vue = new Vue({
      el: "#theme-form",
      data: {
          opacity: [[${opacity}]]
      },
      methods: {
        updateImage() {
          const elFile = this.$refs.file;
          if (elFile.files && elFile.files[0]) {
            const reader = new FileReader();
            reader.onload = function (e) {
              console.log("更新");
              $('#bg').css('background-image', "url('"+e.target.result+"')");
            };
            reader.readAsDataURL(elFile.files[0]);
          }
        },
        updateOpacity() {
          $("#wrapper").css('opacity', this.opacity);
        },
        postFormData(e) {
          var form = document.getElementById("theme-form");
          console.log(form);
          var formData = new FormData( form );
          console.log(formData);
          $.ajax({
            url: '/project/'+[[${project.id}]]+'/admin-settings/theme',
            method: 'post',
            dataType: 'json',
            // dataに FormDataを指定
            data: formData,
            // Ajaxがdataを整形しない指定
            processData: false,
            // contentTypeもfalseに指定
            contentType: false,
            headers: {
              'X-XSRF-TOKEN': Cookies.get('XSRF-TOKEN')
            }
          });
        }
      }
  });

  $(function () {
    //select2
    $(".select2").select2();

    var projectMember = /*[[${projectMember}]]*/ [];
    var projectMemberIds = _.map(projectMember, function (u) {
      return u.id;
    });

    //users
    var $users = $("#users");
    fetchAllUser().then(function (response) {
      var rejected = _.reject(response.data, function (user) {
        return _.contains(projectMemberIds, user.id);
      });

      var first = false;
      _.forEach(rejected, function (user) {
        var selected = first ? 'selected="selected"' : '';
        first = false;

        var tag = '<option ' + selected + ' value="' + user.id + '">' + user.id + '</option>';
        $users.append(tag);
      });
    });
  });
</script>
</body>
</html>
