<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Workbench</title>
  <link th:replace="user/project/fragment/project-page-content :: project-page-head" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="../../../static/css/github-markdown.css" th:href="@{/css/github-markdown.css}"/>
  <link rel="stylesheet" href="../../../static/css/highlight/default.css" th:href="@{/css/highlight/default.css}"/>
  <link rel="stylesheet" href="../../../static/plugins/datatables/dataTables.bootstrap.css" th:href="@{/plugins/datatables/dataTables.bootstrap.css}">
</head>
<body class="skin-blue">
<div class="wrapper">

  <div th:replace="user/project/fragment/project-page-content :: project-page-topmenu"></div>
  <div th:replace="user/project/fragment/project-page-content :: project-page-sidebar"></div>


  <!-- content -->
  <div class="content-wrapper">

    <!-- コンテンツヘッダ -->
    <section class="content-header">
      <h1 th:text="#{html.user.project.dashboard.page_title}">ページタイトル</h1>
    </section>

    <!-- メインコンテンツ -->
    <section class="content">

      <!-- 情報 -->
      <div class="col-md-6">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title" th:text="#{html.user.project.dashboard.project_info_title}">情報</h3>
          </div>
          <div class="box-body no-padding">
            <table class="table table-striped">
              <tr>
                <td th:text="#{html.user.project.dashboard.git_repository}">Gitリポジトリ</td>
                <td>
                  <div class="input-group input-group-sm">
                    <input id="repo-url" type="text" class="form-control" disabled
                           value="http://localhost:8080/repos/git/hoge"
                           th:value="|http://${#httpServletRequest.serverName}:${#httpServletRequest.serverPort}/git/repos/${project.id}|">
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-info btn-flat btn-copy" id="repo-copy"
                     th:attr="data-clipboard-text=|http://${#httpServletRequest.serverName}:${#httpServletRequest.serverPort}/git/repos/${project.id}|">Copy</button>
                  </span>
                  </div>
                </td>
              </tr>
              <tr>
                <td th:text="#{html.user.project.dashboard.admin_user}">管理者</td>
                <td th:text="${admin.name}">orekyuu</td>
              </tr>
              <tr>
                <td th:text="#{html.user.project.dashboard.member_count}">メンバー数</td>
                <td th:text="${member.size()}">3</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <!--Readme-->
      <div class="col-md-6">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Readme</h3>
          </div>
          <div class="box-body" id="readme">
          </div>
        </div>
      </div>

      <!--担当チケット-->
      <div class="col-md-6">
        <div class="box box-info">
          <div class="box-header">
            <h3 class="box-title">担当チケット</h3>
          </div>
          <div class="box-body">
            <ul class="todo-list" id="tickets">
            </ul>
          </div>
          <div class="overlay" id="tickets-overlay">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
        </div>
      </div>

    </section>
  </div><!-- end content -->


  <div th:replace="user/project/fragment/project-page-content :: project-page-footer"></div>


</div><!-- end wrapper -->
<div th:replace="user/project/fragment/project-page-content :: project-page-script"></div>
<!-- marked.js -->
<script src="../../../static/plugins/marked/marked.min.js" th:src="@{/plugins/marked/marked.min.js}"></script>
<script src="../../../static/js/highlight.pack.js" th:src="@{/js/highlight.pack.js}"></script>

<!-- DataTables -->
<script src="../../../static/plugins/datatables/jquery.dataTables.min.js" th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
<script src="../../../static/plugins/datatables/dataTables.bootstrap.min.js" th:src="@{/plugins/datatables/dataTables.bootstrap.min.js}"></script>

<script th:inline="javascript">
  $(function () {

    var projectId = [[${project.id}]];

    //marked.js
    var context=[[${#httpServletRequest.requestURI}]];
    var renderer=new marked.Renderer();
    
    // 外部URL？
    var isCrossOrigin=function(href){
      return /https?:\/\//.test(href);
    };
    // 外部URLじゃなければリポジトリのファイル参照する。とりあえずmaster
    var url=function(href){
      if(isCrossOrigin(href)){
    	  return href;
      }
      var _href=href.startsWith('/')?href:'/'+href;
      var _context=context.endsWith('/')?context:context+'/';
      return _context+'raw/master'+_href;
    };
    
    renderer.link=function(href,title,text){
      var markup='<p><a href="'+url(href)+'" title="'+(title||text)+'">'+text+'</a></p>';
      return markup;
    };
    renderer.image=function(href,title,text){
        var markup='<img src="'+url(href)+'" alt="'+text+'" title="'+(title||text)+'"/>';
        return markup;
    };
    
    marked.setOptions({
    	renderer:renderer,
      sanitize:true,
      highlight: function(code, lang) {
        return hljs.highlightAuto(code, [lang]).value;
      }
    });
    


    $('#readme').html(marked([[${readme}]]));

    //copy
    $('.btn-copy').tooltip({
      trigger: 'click',
      placement: 'bottom'
    });

    function setTooltip(btn, message) {
      $(btn).tooltip('hide')
        .attr('data-original-title', message)
        .tooltip('show');
    }

    function hideTooltip(btn) {
      setTimeout(function() {
        $(btn).tooltip('hide');
      }, 1400);
    }

    var clipboard = new Clipboard('.btn-copy');

    clipboard.on('success', function(e) {
      setTooltip(e.trigger, 'Copied!');
      hideTooltip(e.trigger);
    });

    clipboard.on('error', function(e) {
      setTooltip(e.trigger, 'Failed!');
      hideTooltip(e.trigger);
    });

    var $tickets = $('#tickets');
    fetchAssigneeTickets(projectId).then(function (response) {
      _.chain(response.data).map(function (t) {
        return `<li>
                <span class="handle">#${t.ticketNum}</span>
                <span class="text"><a href="/project/${projectId}/ticket/${t.ticketNum}">${t.title}</a></span>
                </li>`;
      }).each(function (tag) {
        $tickets.append(tag);
      });
      $('#tickets-overlay').remove();
    });
  });
</script>
</body>
</html>
