<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>GitThrow</title>
  <link th:replace="user/project/fragment/project-page-content :: project-page-head" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="../../../static/css/github-markdown.css" th:href="@{/css/github-markdown.css}"/>
  <link rel="stylesheet" href="../../../static/css/highlight/default.css" th:href="@{/css/highlight/default.css}"/>
</head>
<body class="skin-blue">
<div id="bg"></div>
<div class="wrapper">

  <div th:replace="user/project/fragment/project-page-content :: project-page-topmenu"></div>
  <div th:replace="user/project/fragment/project-page-content :: project-page-sidebar"></div>


  <!-- content -->
  <div class="content-wrapper">

    <!-- メインコンテンツ -->
    <section class="content">

      <div class="row">
          <!-- 情報 -->
          <div class="col-md-12">
            <div class="box box-solid">
              <div class="box-header with-border">
                <h3 class="box-title" th:text="#{html.user.project.dashboard.project_info_title}">情報</h3>
              </div>
              <div class="box-body no-padding">
                <table class="table table-striped">
                  <tr>
                    <td th:text="#{html.user.project.dashboard.git_repository}">Gitリポジトリ</td>
                    <td>
                      <div class="input-group input-group-sm">
                        <input id="repo-url" type="text" class="form-control" disabled
                               value="http://localhost:8080/repos/git/hoge"
                               th:value="|http://${#httpServletRequest.serverName}:${#httpServletRequest.serverPort}/git/repos/${project.id}|">
                        <span class="input-group-btn">
                      <button type="button" class="btn btn-info btn-flat btn-copy" id="repo-copy"
                              th:attr="data-clipboard-text=|http://${#httpServletRequest.serverName}:${#httpServletRequest.serverPort}/git/repos/${project.id}|">Copy</button>
                    </span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td th:text="#{html.user.project.dashboard.admin_user}">管理者</td>
                    <td th:text="${admin.name}">orekyuu</td>
                  </tr>
                  <tr>
                    <td th:text="#{html.user.project.dashboard.member_count}">メンバー数</td>
                    <td th:text="${member.size()}">3</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="box box-solid">
              <div class="box-header with-border">
                <h3 class="box-title">Readme</h3>
              </div>
              <div class="box-body" id="readme">
              </div>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Activity</h3>
            </div>
            <ul class="activity-list" id="activity">
              <li v-for="it in activities">
                <div class="icon">
                  <img v-bind:src="toIconUrl(it)" alt="" class="img-circle">
                </div>
                <div class="content">
                  <div class="header">
                    <a v-html="it.title"></a>
                    <div v-html="it.createdAt"></div>
                  </div>
                  <div v-html="marked(it.description)"></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Build Config Generator</h3>
            </div>
            <div id="config-generator">
              <build-config-generator></build-config-generator>
            </div>
          </div>
        </div>
      </div>

    </section>
  </div><!-- end content -->


  <div th:replace="user/project/fragment/project-page-content :: project-page-footer"></div>


</div><!-- end wrapper -->
<div th:replace="user/project/fragment/project-page-content :: project-page-script"></div>
<!-- marked.js -->
<script src="../../../static/plugins/marked/marked.min.js" th:src="@{/plugins/marked/marked.min.js}"></script>
<script src="../../../static/js/highlight.pack.js" th:src="@{/js/highlight.pack.js}"></script>

<script th:src="@{/js/components/build-config-generator.js}"></script>
<script th:inline="javascript">
  var projectId = [[${projectId}]];

  function fetchProjectActivities(projectId) {
    return axios.get(`/rest/${projectId}/activity`, {
      headers: {
        'X-XSRF-TOKEN': Cookies.get('XSRF-TOKEN')
      }
    });
  }

  //vue
  new Vue({
      el: '#config-generator',
  });

  var options = {
    sanitize:true,
    highlight: function(code, lang) {
      return hljs.highlightAuto(code, [lang]).value;
    }
  };

  var vm = new Vue({
    el: '#activity',
    data: {
      activities: []
    },
    methods: {
      marked: function (str) {
        return marked(str, options);
      },
      toIconUrl: function (it) {
        return '/user/icon/'+it.user.id;
      }
    }
  });

  fetchProjectActivities(projectId).then(function (req) {
    vm.activities = req.data;
  });

  $(function () {
    //marked.js
    var context=[[${#httpServletRequest.requestURI}]];
    var renderer=new marked.Renderer();

    // 外部URL？
    var isCrossOrigin=function(href){
      return /https?:\/\//.test(href);
    };
    // 外部URLじゃなければリポジトリのファイル参照する。とりあえずmaster
    var url=function(href){
      if(isCrossOrigin(href)){
        return href;
      }
      var _href=href.startsWith('/')?href:'/'+href;
      var _context=context.endsWith('/')?context:context+'/';
      return _context+'raw/master'+_href;
    };

    renderer.link=function(href,title,text){
      var markup='<p><a href="'+url(href)+'" title="'+(title||text)+'">'+text+'</a></p>';
      return markup;
    };
    renderer.image=function(href,title,text){
      var markup='<img src="'+url(href)+'" alt="'+text+'" title="'+(title||text)+'"/>';
      return markup;
    };

    var readmeOptions = {
      renderer:renderer,
      sanitize:true,
      highlight: function(code, lang) {
        return hljs.highlightAuto(code, [lang]).value;
      }
    };

    $('#readme').html(marked([[${readme}]], readmeOptions));

    //copy
    $('.btn-copy').tooltip({
      trigger: 'click',
      placement: 'bottom'
    });

    function setTooltip(btn, message) {
      $(btn).tooltip('hide')
        .attr('data-original-title', message)
        .tooltip('show');
    }

    function hideTooltip(btn) {
      setTimeout(function() {
        $(btn).tooltip('hide');
      }, 1400);
    }

    var clipboard = new Clipboard('.btn-copy');

    clipboard.on('success', function(e) {
      setTooltip(e.trigger, 'Copied!');
      hideTooltip(e.trigger);
    });

    clipboard.on('error', function(e) {
      setTooltip(e.trigger, 'Failed!');
      hideTooltip(e.trigger);
    });

  });
</script>
</body>
</html>
