<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>GitThrow</title>
  <link th:replace="user/project/fragment/project-page-content :: project-page-head" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="../../../static/css/github-markdown.css" th:href="@{/css/github-markdown.css}"/>
  <link rel="stylesheet" href="../../../static/css/highlight/default.css" th:href="@{/css/highlight/default.css}"/>
</head>
<body class="skin-blue">
<div id="bg"></div>
<div class="wrapper">

  <div th:replace="user/project/fragment/project-page-content :: project-page-topmenu"></div>
  <div th:replace="user/project/fragment/project-page-content :: project-page-sidebar"></div>


  <!-- content -->
  <div class="content-wrapper">

    <!-- コンテンツヘッダ -->
    <section class="content-header">
      <h1>プロジェクト設定</h1>
    </section>

    <!-- メインコンテンツ -->
    <section class="content">

      <div class="row">
          <div class="col-md-12">

            <div class="nav-tabs-custom">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_1"data-toggle="tab">ビルド</a></li>
                <li><a href="#tab_2" data-toggle="tab">デザイン</a></li>
                <li><a href="#tab_3" data-toggle="tab">その他</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane fade in active" id="tab_1">
                  <p>ビルド</p>
                </div>
                <div class="tab-pane fade" id="tab_2">
                  <p>デザイン</p>
                </div>
                <div class="tab-pane fade" id="tab_3">
                  <p>その他</p>
                </div>
              </div>

            </div>
          </div>

      </div>

    </section>
  </div><!-- end content -->


  <div th:replace="user/project/fragment/project-page-content :: project-page-footer"></div>


</div><!-- end wrapper -->
<div th:replace="user/project/fragment/project-page-content :: project-page-script"></div>
<!-- marked.js -->
<script src="../../../static/plugins/marked/marked.min.js" th:src="@{/plugins/marked/marked.min.js}"></script>
<script src="../../../static/js/highlight.pack.js" th:src="@{/js/highlight.pack.js}"></script>
<script th:inline="javascript">
  $(function () {

  });
</script>
</body>
</html>
