<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Workbench</title>
  <link th:replace="user/project/fragment/project-page-content :: project-page-head" rel="stylesheet" type="text/css" />
  <link href="../../../static/css/diff.css" rel="stylesheet" type="text/css"
        th:href="@{/css/diff.css}"/>
</head>
<body class="skin-blue">
<div class="wrapper">

  <div th:replace="user/project/fragment/project-page-content :: project-page-topmenu" ></div>
  <div th:replace="user/project/fragment/project-page-content :: project-page-sidebar" ></div>


  <!-- content -->
  <div class="content-wrapper">

    <!-- コンテンツヘッダ -->
    <section class="content-header">
      <h1>TODO 名前つける</h1>
    </section>

    <!-- メインコンテンツ -->
    <section class="content">

      <!-- コンテンツ1 -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">PR</h3>
        </div>
        <div class="box-body">
          <div id="diff">
          </div>
        </div>
      </div>

    </section>
  </div><!-- end content -->


  <div th:replace="user/project/fragment/project-page-content :: project-page-footer" ></div>


</div><!-- end wrapper -->
<div th:replace="user/project/fragment/project-page-content :: project-page-script" ></div>
<script th:inline="javascript">
  $(function () {
    var projectId = [[${projectId}]];
    var baseBranch = [[${pullRequest.baseBranch}]];
    var targetBranch = [[${pullRequest.targetBranch}]];

    var source = new EventSource("/rest/pull-request/diff?projectId=" + projectId + "&base=" + baseBranch + "&target=" + targetBranch, { withCredentials: true });
    source.onmessage = function(event) {
      var data = JSON.parse(event.data);
      var lines = data.lines;

      var diff = '<div class="file-diff">';
      var header = '<div class="file-diff-header">' + data.fileName + '</div>';
      diff += header;

      diff += '<div class="file-diff-content">';

      for (var i = 0; i < lines.length; i++) {
        var line = '<div class="line">';
        var gutter = '<div class="gutter">';
        gutter += '<div class="line-num line-num-a" >' + (lines[i].oldLineNum == -1 ? ' ' : + lines[i].oldLineNum) + '</div>';
        gutter += '<div class="line-num line-num-b" >' + (lines[i].newLineNum == -1 ? ' ' : + lines[i].newLineNum) + '</div>';
        gutter += '</div>';
        line += gutter;

        var color = '';
        if (lines[i].change === 'add') {
          color = 'line-add';
        }
        if (lines[i].change === 'delete') {
          color = 'line-remove';
        }

        var lineContent = '<pre class="line-content ' + color + '">' + lines[i].content + '</pre>';
        line += lineContent;
        line += '</div>';
        diff += line;
      }

      diff += '</div>';
      diff += '</div>';
      $('#diff').append(diff);
    };

    source.onerror = function (event) {
      source.close();
    };
  });
</script>

</body>
</html>
