<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>GitThrow</title>
  <link th:replace="user/project/fragment/project-page-content :: project-page-head" rel="stylesheet" type="text/css" />
  <link href="../../../static/css/diff.css" rel="stylesheet" type="text/css"
        th:href="@{/css/diff.css}"/>
</head>
<body class="skin-blue">
<div class="wrapper">

  <div th:replace="user/project/fragment/project-page-content :: project-page-topmenu" ></div>
  <div th:replace="user/project/fragment/project-page-content :: project-page-sidebar" ></div>


  <!-- content -->
  <div class="content-wrapper">

    <section class="content-header">
    </section>

    <section class="content">

      <!--/*@thymesVar id="pullRequest" type="net.orekyuu.gitthrow.pullrequest.domain.model.PullRequest"*/-->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title" th:text="|#${pullRequest.pullrequestNum} ${pullRequest.title}|">タイトル</h3>
        </div>
        <div class="box-body">
          <div class="row">
            <!--/* 説明文 */-->
            <div id="desc" class="col-sm-8">
            </div>
            <!--/* 情報表示用のカラム */-->
            <div class="col-sm-4">
              <div class="form-group">
                <button id="merge" class="btn btn-primary" style="width: 100%" th:if="${!(pullRequest.state.name().equals('MERGED'))}">マージ</button>
                <button class="btn" style="width: 100%" disabled th:if="${pullRequest.state.name().equals('MERGED')}">マージ済み</button>
                <!--<button class="btn" style="width: 100%" disabled th:if="${pullRequest.conflict}">コンフリクト</button>-->
              </div>
              <hr>
              <div class="form-group">
                <label class="control-label">作成者</label>
                <div th:text="${pullRequest.proponent.name}">admin</div>
              </div>

              <div class="form-group">
                <label class="control-label">レビュアー</label>
                <div th:text="${pullRequest.reviewer.name}">admin</div>
              </div>

              <div class="form-group">
                <label class="control-label">ベース</label>
                <div th:text="${pullRequest.base}">base</div>
              </div>

              <div class="form-group">
                <label class="control-label">対象</label>
                <div th:text="${pullRequest.target}">target</div>
              </div>

            </div>
          </div>

          <hr>
          <!--コメント-->
          <div id="comments">
            <div class="direct-chat-msg" v-for="comment in comments" v-bind:class="{right: !isSelf(comment)}">
              <div class="direct-chat-info clearfix">
                <span class="direct-chat-name pull-left">{{comment.user.name}}(id: {{comment.user.id}})</span>
                <span class="direct-chat-timestamp pull-right">{{comment.createdAt}}</span>
              </div>
              <img class="direct-chat-img" v-bind:src="'/user/icon/' + comment.user.id">
              <div class="direct-chat-text">
                <p v-html="compiledMarkdown(comment)"></p>
              </div>
            </div>
          </div>

          <hr>
          <!--コメント送信フォーム-->
          <div class="row">
            <div id="editor" class="col-sm-12">
              <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#tab_write" data-toggle="tab">Write</a></li>
                  <li class=""><a href="#tab_preview" data-toggle="tab">Preview</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="tab_write">
                    <textarea class="form-control" rows="3" placeholder="コメントを入力 ..." :value="input" @input="update" :disabled="working"></textarea>
                  </div>
                  <!-- /.tab-pane -->
                  <div class="tab-pane" id="tab_preview">
                    <div v-html="compiledMarkdown"></div>
                  </div>
                </div>
                <!-- /.tab-content -->
              </div>
              <div style="padding-right: 10px;">
                <button class="btn pull-right btn-success" @click="sendComment" :disabled="working">送信</button>
              </div>
            </div>
          </div>

          <hr>
          <!--コード差分-->
          <div id="diff">
            <div class="file-diff" v-for="file in diffFiles">
              <div class="file-diff-header">{{file.fileName}}</div>
              <div class="file-diff-content">
                <div class="line" v-for="line in file.lines">
                  <div class="gutter">
                    <div class="line-num line-num-a">{{line.newLineNum == -1 ? '' : line.newLineNum}}</div>
                    <div class="line-num line-num-b">{{line.oldLineNum == -1 ? '' : line.oldLineNum}}</div>
                  </div>
                  <pre class="line-content" v-bind:class="{'line-add': line.change==='add', 'line-remove': line.change==='delete'}">{{line.content}}</pre>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
  </div><!-- end content -->


  <div th:replace="user/project/fragment/project-page-content :: project-page-footer" ></div>


</div><!-- end wrapper -->
<div th:replace="user/project/fragment/project-page-content :: project-page-script" ></div>
<!-- marked.js -->
<script src="../../../static/plugins/marked/marked.min.js" th:src="@{/plugins/marked/marked.min.js}"></script>
<script src="../../../static/js/highlight.pack.js" th:src="@{/js/highlight.pack.js}"></script>

<script th:inline="javascript">
  var projectId = [[${projectId}]];
  var baseBranch = [[${pullRequest.base}]];
  var targetBranch = [[${pullRequest.target}]];
  var prNum = [[${pullRequest.pullrequestNum}]];

  commentVm = new Vue({
    el: "#comments",
    data: {
      comments: []
    },
    methods: {
      compiledMarkdown: function (comment) {
        return marked(comment.text);
      },
      isSelf: function (comment) {
        return comment.user.id === /*[[${#authentication.principal.user.id}]]*/'';
      }
    }
  });

  editorVm = new Vue({
    el: '#editor',
    data: {
      input: '',
      working: false
    },
    computed: {
      compiledMarkdown: function () {
        return marked(this.input, { sanitize: true })
      }
    },
    methods: {
      update: _.debounce(function (e) {
        this.input = e.target.value
      }, 300),
      sendComment: function (e) {
        this.working = true;
        createPullRequestComment(projectId, prNum, this.input)
          .then(function (response) {
            editorVm.working = false;
            editorVm.input = '';
            updateComments();
          });
      }
    }
  });

  diffVm = new Vue({
      el: '#diff',
      data: {
          diffFiles: []
      }
  });

  //Diff
  var source = new EventSource(`/project/${projectId}/git/diff?&base=${baseBranch}&target=${targetBranch}`, { withCredentials: true });
  source.onmessage = function(event) {
    diffVm.diffFiles.push(JSON.parse(event.data));
  };

  source.onerror = function (event) {
    source.close();
  };

  function updateComments() {
    fetchPullRequestComment([[${project.id}]], [[${pullRequest.pullrequestNum}]])
      .then(function (response) {
        commentVm.comments = response.data;
      });
  }

  updateComments();

  $(function () {
    //marked.js
    marked.setOptions({
      sanitize:true,
      highlight: function(code, lang) {
        return hljs.highlightAuto(code, [lang]).value;
      },
      renderer: linkRenderer
    });
    $('#desc').html(marked([[${pullRequest.description}]]));

    //マージ
    $('#merge').click(function (e) {
      $('#merge').prop('disabled', true);

      var mergeEeventSource = new EventSource("/rest/job/merge?projectId=" + projectId + "&base=" + baseBranch + "&target=" + targetBranch + '&prNum=' + prNum, { withCredentials: true });
      mergeEeventSource.onerror = function (e) {
        mergeEeventSource.close();
      };
      window.location.href = '/project/' + projectId + '/pull-request/';
    });
  });
</script>

</body>
</html>
