<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>GitThrow</title>
  <link th:replace="user/project/fragment/project-page-content :: project-page-head" rel="stylesheet" type="text/css" />
</head>
<body class="skin-blue">
<div class="wrapper">

  <div th:replace="user/project/fragment/project-page-content :: project-page-topmenu" ></div>
  <div th:replace="user/project/fragment/project-page-content :: project-page-sidebar" ></div>


  <!-- content -->
  <div class="content-wrapper">

    <!-- コンテンツヘッダ -->
    <section class="content-header">
      <h1>プルリクエスト</h1>
    </section>

    <!-- メインコンテンツ -->
    <section class="content">

      <!-- コンテンツ1 -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">プルリクエスト一覧</h3>
          <div class="box-tools">
            <a class="btn btn-info" href="." th:href="|@{/project/}${project.id}/pull-request/create|"><i class="fa fa-fw fa-plus"></i> 新規プルリクエスト</a>
          </div>
        </div>
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tr>
              <th>#</th>
              <th>タイトル</th>
            </tr>
            <tr th:each="pr : ${pullRequestList}">
              <!--/*@thymesVar id="pr" type="net.orekyuu.gitthrow.pullrequest.domain.model.PullRequest"*/-->
              <td th:text="${pr.number}">1</td>
              <td><a href="" th:href="|@{/project/}${project.id}/pull-request/${pr.number}|" th:text="${pr.title}">タイトル</a></td>
            </tr>
          </table>
        </div>
      </div>

    </section>
  </div><!-- end content -->


  <div th:replace="user/project/fragment/project-page-content :: project-page-footer" ></div>


</div><!-- end wrapper -->
<div th:replace="user/project/fragment/project-page-content :: project-page-script" ></div>
</body>
</html>
