<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>GitThrow</title>
  <link th:replace="user/project/fragment/project-page-content :: project-page-head" rel="stylesheet" type="text/css"/>
  <!-- Select2 -->
  <link rel="stylesheet" href="../../../static/plugins/select2/select2.min.css"
        th:href="@{/plugins/select2/select2.min.css}">
  <link rel="stylesheet" href="../../../static/css/github-markdown.css" th:href="@{/css/github-markdown.css}">
  <link rel="stylesheet" href="../../../static/css/highlight/default.css" th:href="@{/css/highlight/default.css}">
</head>
<body class="skin-blue">
<!--/*@thymesVar id="ticket" type="net.orekyuu.gitthrow.ticket.domain.model.Ticket"*/-->
<div class="wrapper">

  <div th:replace="user/project/fragment/project-page-content :: project-page-topmenu"></div>
  <div th:replace="user/project/fragment/project-page-content :: project-page-sidebar"></div>


  <!-- content -->
  <div class="content-wrapper">

    <!-- コンテンツヘッダ -->
    <section class="content-header">
      <h1>チケット詳細</h1>
    </section>

    <!-- メインコンテンツ -->
    <section class="content">

      <!-- コンテンツ1 -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title" th:text="${ticket.title}" id="title">チケットタイトル</h3>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-sm-8 markdown-body" id="desc">

            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="assign" class="control-label">作成者</label>
                <div class="">
                  <input class="form-control" type="text" disabled th:value="${ticket.proponent.id}">
                </div>
              </div>
              <div class="form-group">
                <label for="assign" class="control-label">担当者</label>
                <div class="">
                  <select class="form-control select2" title="assign" id="assign" th:remove="all-but-first">
                    <!--/*@thymesVar id="u" type="net.orekyuu.gitthrow.user.domain.model.User"*/-->
                    <option selected="selected" th:each="u : ${project.member}" th:text="${u.name}"
                            th:selected="${u.equals(ticket.assignee)}" th:value="${u.id}">hoge
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="type" class=" control-label">タイプ</label>
                <div class="">
                  <select class="form-control" title="type" id="type">
                    <!--/*@thymesVar id="type" type="net.orekyuu.gitthrow.ticket.domain.model.TicketType"*/-->
                    <option th:each="type : ${typeList}" th:text="${type.name}"
                            th:value="${type.id}" th:selected="${type.equals(ticket.type)}">hoge
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="priority" class=" control-label">優先度</label>
                <div class="">
                  <select class="form-control" title="priority" id="priority">
                    <!--/*@thymesVar id="priority" type="net.orekyuu.gitthrow.ticket.domain.model.TicketPriority"*/-->
                    <option th:each="priority : ${priorityList}" th:text="${priority.name}"
                            th:value="${priority.id}" th:selected="${priority.equals(ticket.priority)}">hoge
                    </option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label for="status" class=" control-label">ステータス</label>
                <div class="">
                  <select class="form-control" title="status" id="status">
                    <!--/*@thymesVar id="status" type="net.orekyuu.gitthrow.ticket.domain.model.TicketStatus"*/-->
                    <option th:each="status : ${statusList}" th:text="${status.name}"
                            th:value="${status.id}" th:selected="${status.equals(ticket.status)}">hoge
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="limit" class=" control-label">期限</label>
                <div class="">
                  <div class="input-group date">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control" id="limit"
                           th:value="${ticket.limit == '無し' ? null : ticket.limit}">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <!--コメント-->
          <div id="comments">
          </div>
          <!--コメント-->
          <hr>

          <!--コメント送信フォーム-->
          <div class="row">
            <form action="" class="col-sm-12">
              <div class="form-group">
                <div id="editor">
                  <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                      <li class="active"><a href="#tab_write" data-toggle="tab">Write</a></li>
                      <li class=""><a href="#tab_preview" data-toggle="tab">Preview</a></li>
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane active" id="tab_write">
                        <textarea class="form-control" rows="3" placeholder="コメントを入力 ..." id="comment-text" :value="input" @input="update"></textarea>
                      </div>
                      <!-- /.tab-pane -->
                      <div class="tab-pane" id="tab_preview">
                        <div v-html="compiledMarkdown"></div>
                      </div>
                    </div>
                    <!-- /.tab-content -->
                  </div>
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-success pull-right" id="comment-submit">送信</button>
              </div>
            </form>
          </div>
          <!--コメント送信フォーム-->
        </div>
      </div>
    </section>
  </div><!-- end content -->


  <div th:replace="user/project/fragment/project-page-content :: project-page-footer"></div>


</div><!-- end wrapper -->
<div th:replace="user/project/fragment/project-page-content :: project-page-script"></div>
<!-- Select2 -->
<script src="../../../static/plugins/select2/select2.full.min.js"
        th:src="@{/plugins/select2/select2.full.min.js}"></script>
<!-- bootstrap datepicker -->
<script src="../../../static/plugins/datepicker/bootstrap-datepicker.js"
        th:src="@{/plugins/datepicker/bootstrap-datepicker.js}"></script>
<!-- marked.js -->
<script src="../../../static/plugins/marked/marked.min.js" th:src="@{/plugins/marked/marked.min.js}"></script>
<script src="../../../static/js/highlight.pack.js" th:src="@{/js/highlight.pack.js}"></script>

<script th:inline="javascript">
  $(function () {
    //select2
    $(".select2").select2();

    //DatePicker
    var $limit = $('#limit');
    $limit.datepicker({
      autoclose: true,
      format: 'yyyy/mm/dd'
    });
    $limit.datepicker('update');

    //marked.js
    marked.setOptions({
      sanitize: true,
      highlight: function (code, lang) {
        return hljs.highlightAuto(code, [lang]).value;
      }
    });

    var editor = new Vue({
      el: '#editor',
      data: {
        input: ''
      },
      computed: {
        compiledMarkdown: function () {
          return marked(this.input, { sanitize: true })
        }
      },
      methods: {
        update: _.debounce(function (e) {
          this.input = e.target.value
        }, 300)
      }
    });


    $('#desc').html(marked([[${ticket.description}]]));

    //イベントでチケットの更新
    $('#type').change(function (e) {
      update();
    });

    $('#status').change(function (e) {
      update();
    });

    $('#priority').change(function (e) {
      update();
    });

    $limit.datepicker().on('changeDate', function (e) {
      update();
    });

    $('#assign').on('select2:select', function (e) {
      update();
    });

    function update() {
      var ticket = {
        title: $('#title').text(),
        description: [[${ticket.description}]],
        assignee: { id: $('#assign').val() },
        type: { id: parseInt($('#type').val()) },
        priority: { id: parseInt($('#priority').val()) },
        status: { id: parseInt($('#status').val()) },
        limit: $('#limit').val()
      };
      console.log(ticket);
      updateTicket([[${project.id}]], [[${ticket.ticketNum}]], ticket);
    }

    //コメント取得
    function updateComments() {
      var $comments = $('#comments');
      $comments.empty();
      fetchTicketComment([[${project.id}]], [[${ticket.ticketNum}]])
        .then(function (response) {
          _.chain(response.data).map(function (comment) {
            comment.text = marked(comment.text);
            comment.isSelf = comment.user.id === /*[[${#authentication.principal.user.id}]]*/"hoge";
            return comment;
          }).map(function (comment) {
            var str = '<div class="direct-chat-msg ' + (comment.isSelf ? '' : 'right') + '">';
            str += '<div class="direct-chat-info clearfix">';
            str += '<span class="direct-chat-name pull-left">' + comment.user.name + '(id: ' + comment.user.id + ')</span>';
            str += '<span class="direct-chat-timestamp pull-right">' + comment.createdAt + '</span>';
            str += '</div>';
            str += '<img class="direct-chat-img" src="/user/icon/' + comment.user.id + '">';
            str += '<div class="direct-chat-text">';
            str += comment.text;
            str += '</div>';
            str += '</div>';
            return str;
          }).each(function (comment) {
            $comments.append(comment);
          })
        }).catch(function (e) {
        console.log(e);
      });
    }

    updateComments();

    //コメント送信
    var $commentBtn = $('#comment-submit');
    var $commentText = $('#comment-text');
    $commentBtn.click(function () {
      $commentBtn.prop("disabled", true);
      $commentText.prop("disabled", true);

      createTicketComment([[${project.id}]], [[${ticket.ticketNum}]], $commentText.val())
        .then(function () {
          $commentBtn.prop("disabled", false);
          $commentText.prop("disabled", false);
          editor.input = '';
          updateComments();
        }).catch(function (e) {
          $commentBtn.prop("disabled", false);
          $commentText.prop("disabled", false);
          console.log(e);
        });
    });
  });
</script>
</body>
</html>
